<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div id="logo">Tasty Recipes</div>
                <div id="dropdown-button">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="navs">
                    <div class="nav-center">
                        <a href="/">Recipes</a>
                        <a href="">About</a>
                        <a href="">Search</a>
                    </div>
                    <div class="nav-right">
                        <% if (!currentUser) { %>
                            <a href="/register">Register</a>
                            <span>or</span>
                            <a href="/login">Log In</a>
                        <% } else { %>
                            <a href="/recipes/new">Add New Recipe</a>
                            <a href="/logout">Logout</a>
                        <% } %>
                    </div>
                </div>
            </nav>
        </header>
        <% if (success && success.length) { %>
            <p class="success"><i class="fa fa-check-circle"></i><%= success %></p>
        <% } %>

        <% if (error && error.length) { %>
            <p class="error"><i class="fa fa-exclamation-triangle"></i><%= error %></p>
        <% } %>
        <main>