<%- include('partials/header') %>

<h1>Create New Recipe</h1>

    <form class="form-new" action="/blog" method="post">

        <label for="blog[name]">Recipe name</label>
        <input type="text" name="blog[name]" placeholder="Recipe Name">

        <label for="blog[image]">Recipe image</label>
        <input type="text" name="blog[image]" placeholder="Image URL">

        <label for="blog[ingredients]">Ingredients</label>
        <div class="input-container">
            <input id="ingredient" type="text" placeholder="ingredients">
            <div id="add"><i class="fa fa-plus"></i></div>
        </div>

        <div id="list" class="hidden"></div>

        <label for="blog[description]">Description</label>
        <textarea name="blog[description]" placeholder="Description"></textarea>

        <button type="submit">Add Recipe</button>
        
    </form>

<%- include('partials/footer') %>