<%- include('partials/header') %>

<form action="/blog", method="post">
    <input type="text" name="blog[name]" placeholder="Recipe Name">
    <input type="text" name="blog[image]" placeholder="Image URL">
    <textarea name="blog[ingredients]" placeholder="Ingredients"></textarea>
    <textarea name="blog[description]" placeholder="Description"></textarea>
    <button type="submit">Add Recipe</button>
</form>

<%- include('partials/footer') %>